* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
  margin-bottom: 1em;
  font-size: 40px;
}

h2{
  font-size: 30px;
  background-color: rgba(83, 80, 80, 0.5);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

h3{
  font-size: 25px;
  font-variant: small-caps;  
  text-decoration: underline;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2em;
  color: firebrick;
  border-bottom: 2px solid firebrick;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: tomato;
  border-bottom: 2px solid tomato;
}

#home,
#about,
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding: 25px;
}

#home {
  background-color: rgb(168, 153, 173);
  border-radius: 20px;
  margin: 20px;
  padding: auto;

}

#about{
  background-color: rgb(198, 195, 197);
  border-radius: 20px;
  margin: 20px;
  padding: auto;
}

#about img {
  max-height: 50%;
}

#about a {
  display: block;
  width: auto;
}

#projects {
  background-color: rgb(149, 170, 170);
  align-content: center;
  height: auto;
  border-radius: 20px;
  margin: 20px;
  padding: auto;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 25px;
  font-size: 20px;
}